/*
   https://www.youtube.com/watch?v=5mgsQ2csCIU
   https://www.youtube.com/watch?v=_bNhGbUSYy8   //variables
   https://www.youtube.com/watch?v=Vm4UjqZmEiE   //mixins
   https://www.youtube.com/watch?v=x0oEv-0pJIg   //nesting rules
   https://www.youtube.com/watch?v=2O0YD7m2kgw   //nested conditionals (screen size)
   https://www.youtube.com/watch?v=qIp86keRUyM   //simple math operations
*/


//variables
@heading: #00f;                     //hex code color value... blue
@panel: #4dff4d;
@headerfontsize: 42px;              //numeric value
@notification: #ff1a1a;             //red notification color
@bordercolor: #80aaff;              //light blue border color
@border: 5px solid @bordercolor;    //multi-string variable
@bannercolor: #8533ff;              //light purple. display on computer
@bannercolormobile: #00cc44;        //green. display on mobile

@buttonBackground: #ff6600;
@buttonColor: #000000;
@buttonPadding: 5px;

//mixins
.panel{
   border: @border;
   background-color: @panel;
   margin:10px;
   //border-color: @border;
}

.large-panel{
   .panel;   //inherits from .panel
   padding: 20px;
   border: 4px solid; //is able to override... didn't change with border-color
}

.small-panel{
   .panel;
   padding: 5px;
   text-align: center;
   background-color: @notification;
   font-weight: bold;
}


//nested conditionals
#test-banner{
   font-size: 24px;
   background: @bannercolor;
   padding: 6px;

   //this displays when screen size is <= 768px
   @media screen {
      @media (max-width: 768px){
         font-size: 32px;
         background: @bannercolormobile;
      }
   }
}


//simple math operations
.button{
   background: @buttonBackground;
   padding: @buttonPadding;
   color: @buttonColor;
   display: inline-block;
}

.large-button{
   .button;
   padding: @buttonPadding + 20;
}

.light-button{
   .button;
   background: @buttonBackground * 1.6;  //numbers >1 lighten, <1 darken
}

.dark-button{
   .button;
   background: @buttonBackground * 0.7;
}

.mixed-button{
   .button;
   padding: @buttonPadding + 20;
   background: @buttonBackground * 1.6;
}





h1 {
   color: @heading;
   font-size: @headerfontsize;
}
